.cart {
    @apply relative mx-5 my-2.5;

    .cart__indicator {
        @apply absolute -top-1.5 -right-1.5 flex items-center justify-center min-w-[18px] min-h-[18px] p-1 rounded-full bg-link text-white text-[10px] leading-none font-medium;
    }
}
