.product-form {
    .product-form__heading {
        @apply flex justify-between items-end gap-6;
    }

    .product-form__list {
        @apply grid grid-cols-5 gap-2 overflow-x-auto no-scrollbar my-6;
        grid-template-columns: repeat(5, minmax(220px, 1fr));
    }

    .product-form__errors {
        @apply mb-6;
    }

    .product-form__submit {
        @apply min-h-10;
    }
}
