.store-shipping {
    .store-shipping__container {
        @apply flex gap-[60px] w-full mt-6;
    }

    .store-shipping__or {
        @apply self-center;
    }

    .store-shipping__option {
        @apply flex flex-col justify-between flex-shrink flex-grow basis-full;
    }

    .store-shipping__label {
        @apply mb-3;
    }
}
