.bookmark-card-empty {
    @apply flex justify-center items-center gap-2 p-6 border border-dashed border-divider shadow-card;

    .bookmark-card-empty__icon {
        @apply min-w-6 min-h-6 w-6 h-6;
    }
}
