.helpdesk-request-form {
    @apply flex flex-col gap-5 max-w-[552px] w-screen;

    &.success {
        @apply max-w-[372px];
    }

    .helpdesk-request-form__footer {
        @apply flex justify-end gap-2 mt-3;
    }
}
