.helpdesk-request-card {
    @apply flex items-center gap-3 p-4 text-start flowing-all;

    .helpdesk-request-card__title {
        @apply headline-xs;
    }

    .helpdesk-request-card__subtitle {
        @apply text-sm font-normal;
    }
}
