@import url("tailwindcss/base.css");
@import url('tailwindcss/components.css');
@import url('components/header-pill.css');
@import url('components/user-info.pcss');
@import url('components/side-nav.pcss');
@import url('components/header/header.pcss');
@import url('components/global/page-header.pcss');
@import url('components/dashboard/dashboard.pcss');
@import url('store/employee-store.pcss');
@import url('tailwindcss/utilities.css');

html, body {
    font-family: Figtree, ui-sans-serif, system-ui, sans-serif;
}

.section {
    @apply container w-full mx-auto max-w-full;
}

#WrapperContent {
    @apply grid grid-cols-3 gap-x-5;
    grid-template-columns: 330px 1fr 330px;
}

body.is-collapsed #WrapperContent {
    grid-template-columns: 50px 1fr 330px;
}

#MainContent {

}
