@import url('tailwindcss/base.css');

@import url('theme/theme.pcss');
@import url('utilities/utilities.pcss');
@import url('ui/ui.pcss');

@import url('tailwindcss/components.css');
@import url('components/header-pill.css');
@import url('components/drawer.pcss');
@import url('components/header/header.pcss');
@import url('components/aside/aside.pcss');
@import url('components/global/page-header.pcss');
@import url('components/calendar.pcss');
@import url('components/holiday-list.pcss');
@import url('components/holiday-card.pcss');

@import url('components/dashboard/dashboard.pcss');
@import url('components/handbook/handbook.pcss');
@import url('components/helpdesk/helpdesk.pcss');

@import url('store/employee-store.pcss');

@import url('tailwindcss/utilities.css');

html {
    scrollbar-gutter: stable;
}

html, body {
    font-family: Figtree, ui-sans-serif, system-ui, sans-serif;
    @apply text-on-surface-emphasis bg-canvas overscroll-none;
}

[x-cloak] {
    display: none !important;
}

.section {
    @apply container w-full mx-auto max-w-full;
}

#WrapperContent {
    @apply flex gap-x-5 items-start;
}

#MainContent {

}

#HandbookDrawer.active + .side-nav {
    @apply w-[540px] -mr-5 opacity-0 delay-[55ms];
}

a,
button {
    @apply focusable;
}

.avatar {
    @apply w-6 h-6 border border-outline-reversed rounded-full object-cover;
}
