.announcement {
    @apply bg-notification text-notification-foreground px-5 py-6 rounded-lg;

    .announcement__heading {
        @apply mb-1.5 headline-xs text-notification-foreground-alt;
    }

    .announcement__footer {
        @apply flex justify-end gap-2 mt-4;
    }
}
