.horizontal-list {
    @apply flex flex-col gap-2 max-w-full;

    .horizontal-list__header {
        @apply flex justify-between gap-4;
    }

    .horizontal-list__title {
        @apply headline-md;
    }

    .horizontal-list__items {
        @apply flex flex-nowrap gap-2 max-w-full overflow-x-auto pb-4 -mb-4 no-scrollbar;
    }

    .horizontal-list__item {
        @apply flex-shrink-0 max-w-[320px] w-full;
    }
}
