.blog-post-meta {
    @apply flex flex-col gap-4 p-16;

    .blog-post-meta__row {
        @apply flex items-center gap-8;
    }

    .blog-post-meta__cell {
        @apply text-sm text-on-surface-default;
    }

    .blog-post-meta__label {
        @apply font-semibold;
    }
}
