.focusable {
    @apply focus:outline-0 focus-visible:outline-2 focus-visible:outline-btn-outline;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

