.dropdown {
    @apply relative inline-block;

    .dropdown__content {
        @apply absolute end-0 z-20 mt-2 min-w-44 origin-top-right;
    }

    .dropdown__button {
        @apply text-on-surface-emphasis p-0;
    }

    .dropdown__icon {
        @apply mx-2.5 my-1.5;
    }
}
