.heading {
    @apply flex flex-col gap-1 text-on-surface-emphasis;

    .heading__title {
        @apply headline-md inline-flex items-center gap-2;
    }

    .heading__subtitle {
        @apply headline-xs;

        &.heading__subtitle--normal {
            @apply font-normal;
        }

        &.heading__subtitle--secondary {
            @apply text-on-surface-default;
        }
    }
}
