.link {
    @apply inline-flex items-center gap-2 w-auto underline underline-offset-2 font-normal hover:no-underline;

    &.link--medium {
        @apply text-sm;
    }

    &.link--small {
        @apply text-xs;
    }
}
