.menu {
    @apply px-2.5 py-3 rounded-lg shadow-xl bg-surface border border-outline-alternative;

    .menu__item {
        @apply w-full cursor-pointer items-center justify-between gap-2 px-3 text-on-surface-emphasis focusable hover:bg-link-hover hover:text-link-active-text active:bg-link-active active:text-link-active-text;
    }
}
