.display-lg {
    @apply text-display-lg;
}

h1,
.h1,
.headline-lg {
    @apply text-headline-lg;
}

h2,
.h2,
.headline-md {
    @apply text-headline-md;
}

h3,
.h3,
.headline-sm {
    @apply text-headline-sm;
}

h4,
.h4,
h5,
.h5,
h6,
.h6,
.headline-xs {
    @apply text-headline-xs;
}

